
<p>
  <strong>Name: </strong>
  <%= @event.name %>
</p>

<p>
  <strong>Details: </strong>
  <%= @event.description %>
</p>

<p>
  <strong>Organiser: </strong>
  <%= @event.creator_id %>
</p>

<p>
  <strong>Created on: </strong>
  <%= @event.date %>
  Date works but requires Google Calender API
</p>

<p>
  <strong>Attendees: </strong>
  Attendees need linking to @event
</p>

<p>
  <strong>Location: </strong>
  Location require Google Maps API
</p>

<%= button_to 'Attend', attend_event_path(@event), method: :post, confirm: 'really?' %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
